@import "./imports/_normalize.scss";

*{ box-sizing: border-box}


body{
  font-family: monospace;
  margin: 0, auto;
}

img {
   width: 100%;
   display: block;
   margin: 0;
}

.top-design{
  display: flex;
  width: 100%;
  background-color: #dddddd;

}

.main-container{
  padding: 20px;
}

h1{
    color: #3eb280;
}

p{
  text-align: left;
  font-size: 14px;
}

.name{
  color: #3eb280;
}

.person-column{
  display: flex;
  flex-wrap: wrap;
}

.person-content{
  padding: 10px;

}

@media screen and (min-width: 768px){
    .person-content{
      width: 50%;

   }


 }

@media screen and (min-width: 1024px){
  .person-content{
     width: 33.3%;


   }
 }
